WebServiceProject/WebContent/wsdl/HelloObjisWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://simple.demowenservice.objis.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://simple.demowenservice.objis.com" xmlns:intf="http://simple.demowenservice.objis.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://simple.demowenservice.objis.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="ditBonjour">
    <complexType>
     <sequence>
      <element name="nom" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="ditBonjourResponse">
    <complexType>
     <sequence>
      <element name="ditBonjourReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="ditBonjourResponse">

      <wsdl:part element="impl:ditBonjourResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ditBonjourRequest">

      <wsdl:part element="impl:ditBonjour" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HelloObjisWS">

      <wsdl:operation name="ditBonjour">

         <wsdl:input message="impl:ditBonjourRequest" name="ditBonjourRequest">

       </wsdl:input>

         <wsdl:output message="impl:ditBonjourResponse" name="ditBonjourResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloObjisWSSoapBinding" type="impl:HelloObjisWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="ditBonjour">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ditBonjourRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ditBonjourResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloObjisWSService">

      <wsdl:port binding="impl:HelloObjisWSSoapBinding" name="HelloObjisWS">

         <wsdlsoap:address location="http://localhost:8080/WebServiceProject/services/HelloObjisWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
